<div id="interactor-container" class="variables">
  <!--    <mat-accordion>-->
  <!--      <mat-expansion-panel hideToggle>-->
  <!--        <mat-expansion-panel-header [@.disabled]="true" style="width: 59px; padding: 0">-->
  <!--          <mat-panel-title>-->
  <!--            Interactor overlays-->
  <!--          </mat-panel-title>-->
  <!--        </mat-expansion-panel-header>-->

  <mat-card class="card">
    <mat-card-content>

      <div class="button-container">
        <button mat-raised-button class="raised-full-width-button" (click)="clearInteractors()"
                [ngClass]="{'active-button': clear}">
          <mat-icon [ngClass]="{'active-icon': clear}" color="primary">clear</mat-icon>
          Clear overlays
        </button>
      </div>

      <div class="divider-container">
        <div class="line">
          <mat-divider class="divider"></mat-divider>
        </div>
        <div class="text">Main</div>
        <div class="line">
          <mat-divider class="divider"></mat-divider>
        </div>
      </div>

      <!--      <mat-grid-list cols="2" rowHeight="28px">-->
      <!--        <mat-grid-tile>-->
      <!--          <button class="full-width" mat-button (click)="getInteractors(INTACT_RESOURCE,ResourceType.STATIC)"-->
      <!--                  [ngClass]="{'active-button': currentResource.type === ResourceType.STATIC}">IntAct-->
      <!--          </button>-->
      <!--        </mat-grid-tile>-->
      <!--        <mat-grid-tile>-->
      <!--          <button class="full-width" mat-button (click)="getInteractors(DISEASE_RESOURCE,ResourceType.DISGENET)"-->
      <!--                  [ngClass]="{'active-button': currentResource.type === ResourceType.DISGENET}">DisGeNet-->
      <!--          </button>-->
      <!--        </mat-grid-tile>-->
      <!--      </mat-grid-list>-->

      <div class="main-resource">
        <button class="full-width" mat-button (click)="getInteractors(INTACT_RESOURCE,ResourceType.STATIC)"
                [ngClass]="{'active-button': currentResource.type === ResourceType.STATIC}">IntAct
        </button>

        <button class="full-width" mat-button (click)="getInteractors(DISEASE_RESOURCE,ResourceType.DISGENET)"
                [ngClass]="{'active-button': currentResource.type === ResourceType.DISGENET}">DisGeNet
        </button>
      </div>


      <div class="divider-container">
        <div class="line">
          <mat-divider class="divider"></mat-divider>
        </div>
        <div class="text">PSICQUIC</div>
        <div class="line">
          <mat-divider class="divider"></mat-divider>
        </div>
      </div>


      <mat-grid-list cols="2" rowHeight="28px" [gutterSize]="'2px'">
        <mat-grid-tile *ngFor="let resource of psicquicResources" class="rounded-corner">
          <button class="full-width psicquic-button" mat-button
                  (click)="onPsicquicResourceChange(resource.name, ResourceType.PSICQUIC)"
                  [ngClass]="{'active-button': currentResource.name === resource.name}" [disabled]="!resource.active">
            <div class="resource-name">
              <span>{{ resource.name }}</span>
              <mat-spinner class="spinner-color" diameter="20"
                           *ngIf="isDataFromPsicquicLoading && currentResource.name === resource.name"></mat-spinner>
            </div>
          </button>
        </mat-grid-tile>
      </mat-grid-list>


      <div class="divider-container">
        <div class="line">
          <mat-divider class="divider"></mat-divider>
        </div>
        <div class="text">Custom</div>
        <div class="line">
          <mat-divider class="divider"></mat-divider>
        </div>
      </div>

      <mat-selection-list *ngIf="resourceTokens?.length != 0" [multiple]=false hideSingleSelectionIndicator=true>
        <mat-list-option *ngFor="let resourceToken of resourceTokens" [value]="resourceToken"
                         [selected]="isSelected(resourceToken)" (click)="onCustomResourceChange(resourceToken)"
                         [ngClass]="{'active-button': currentResource.name === resourceToken.summary?.name}"
                         class="full-width">
          <div class="resource-name surface-variant">
            <div>{{ resourceToken.summary?.name }}</div>
            <button mat-icon-button (click)="deleteResource(resourceToken)">
              <mat-icon>delete</mat-icon>
            </button>
          </div>
        </mat-list-option>
      </mat-selection-list>

      <div class="button-container">
        <button mat-raised-button class="raised-full-width-button" (click)="openCustomInteractorDialog()">
          <mat-icon color="primary">add</mat-icon>
          Add overlay resource
        </button>
      </div>

      <!--          </mat-expansion-panel>-->
      <!--          <mat-expansion-panel (opened)="panelOpenState = true"-->
      <!--                               (closed)="panelOpenState = false">-->
      <!--          </mat-expansion-panel>-->
      <!--        </mat-accordion>-->
    </mat-card-content>
  </mat-card>
</div>
