.variables {
  --surface: #FAFDFF;
  --surface-variant: #E9F2F6;
  --on-surface-variant: #40484C;
  --outline: #70787D;
  --on-secondary-container: #001F29;
}

#interactor-container {
  width: 100%;
  background-color: var(--surface-variant);
}

.button-container {
  padding: 4px 0;
}

.card {
  background-color: var(--surface-variant);
}

.full-width-button {
  width: 100%;
  color: var(--on-surface-variant);
  border-radius: 100px;
  justify-content: flex-start;
  height: 28px;
}

.raised-full-width-button {
  width: 100%;
  background-color: var(--surface);
  color: var(--on-secondary-container);
  border-radius: 100px;
}

::ng-deep .psicquic-button .mdc-button__label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.resource-name {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/** Divider */
.divider-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.divider {
  background-color: var(--outline);
  --mat-divider-width: 2px;
}

.line {
  flex: 1;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
  color: var(--on-surface-variant);
}

/** Scrollbar */
//.psicquicResources {
//  overflow: scroll;
//  height: 300px;
//}

/** Spinner */
.spinner-color::ng-deep circle {
  stroke: var(--on-primary) !important;
}

/**
   Highlight selection by giving a background color
 */
.active-button {
  background-color: var(--primary);
  color: var(--on-primary)
}

.active-button[aria-selected="true"] {
  background-color: var(--primary) !important;
  color: var(--on-primary) !important;
}

/* Change background color for mat list option by using attribute aria-selected */
.active-button[aria-selected="true"] .resource-name,
.active-button[aria-selected="true"] .resource-name div {
  color: var(--on-primary) !important;
}

/* Remove selected color by overwriting default primary color when there is no active button class */
mat-list-option[aria-selected="true"] .resource-name,
mat-list-option[aria-selected="true"] .resource-name div {
  color: #000
}

.active-icon {
  color: var(--on-primary)
}

.surface-variant,
.surface-variant div {
  color: var(--on-surface-variant) !important;
}

.rounded-corner {
  border-radius: 100px;
}
