.variables {
  --opacity: 0.08;
  --shadow-luminosity: 40;
  --surface: #F6FEFF;
  --on-surface: #001F24;
  --primary: #006782;
  --on-primary: #FFFFFF;
  --on-tertiary: #FFFFFF;
  --positive: #0C9509;
  --negative: #BA1A1A;
  --select-node: #6EB3E4;
  --select-edge: #0561A6;
  --hover-node: #78E076;
  --hover-edge: #04B601;

  --compartment: #E5834A;

  --primary-contrast-1: #001F29;
  --primary-contrast-2: #003545;
  --primary-contrast-3: #004D62;

  --tertiary-contrast-1: #00315C;
  --tertiary-contrast-2: #1660A5;

  --drug-contrast-1: #3E001D;
  --drug-contrast-2: #610B33;
  --drug-contrast-3: #7E2549;
  --drug-contrast-4: #BB557A;

  &.dark {
    --opacity: 0.08;
    --shadow-luminosity: 70;
    --shadow-opacity: [[0.2, 0.4], [0.4, 0]];


    --surface: #0D1617;
    --on-surface: #97F0FF;
    --primary: #5CD4FF;
    --on-primary: #0D1617;
    --on-tertiary: #0D1317;
    --positive: #10d70b;
    --negative: #ea2323;
    --select-node: #0561A6;
    --select-edge: #1d85cc;
    --hover-node: #04B601;
    --hover-edge: #78E076;

    --compartment: #5e232d;

    --primary-contrast-1: #5CD4FF;
    --primary-contrast-2: #1d9dc2;
    --primary-contrast-3: #057e9b;

    --tertiary-contrast-1: #a48ee0;
    --tertiary-contrast-2: #8c63c5;

    --drug-contrast-1: #FFB1C8;
    --drug-contrast-2: #F988AE;
    --drug-contrast-3: #DA6E94;
    --drug-contrast-4: #DA6E94;
  }
}

#controls {
  position: absolute;
  inset: calc(100vh - 40px) 0 0 0;
  * {
    background: var(--surface);
    color: var(--on-surface);
  }
  background: var(--surface);

}

#cytoscape {
  position: absolute;
  inset: 0 0 40px 0;
  background: var(--surface);
}
