<div class="variables" [class.dark]="dark.isDark" #container>
  <div id="cytoscape" #cytoscape></div>

  <ng-container *ngIf="comparing">
    <div id="disease-container" class="drag-container" #compareContainer>
      <div id="handle-limits" (mouseup)="dragEnd()" (mouseleave)="dragEnd()"
           (mousemove)="dragMove($event, compareContainer)" [class.active]="compareDragging">
        <span id="disease-handle" class="drag-handle" (mousedown)="dragStart()"></span>
      </div>

      <div id="cytoscape-compare" #cytoscapeCompare class="drag-content"></div>
    </div>
  </ng-container>

  <div id="legend-boundary" [ngStyle]="{'--legend-width': ratio  * container.clientHeight + 'px'}">
    <div cdkDrag cdkDragLockAxis="x" cdkDragBoundary="#legend-boundary" id="legend-container" (cdkDragMoved)="updateLegend()"
         [style.height]="container.clientHeight + 'px'">
      <button id="legend-handle" cdkDragHandle>LEGEND</button>
      <div id="legend" #legend></div>
    </div>
  </div>


  <form id="controls">
    <button mat-raised-button (click)="getInteractors()">Interactors</button>
    <button mat-raised-button (click)="updateStyle()">Update Style</button>
    <mat-slide-toggle [(ngModel)]="dark.isDark" name="dark">Dark mode</mat-slide-toggle>
  </form>
</div>
