<div id="hierarchy-container">
  <div id="breadcrumb-container" *ngIf="this.diagramId">
    <div>
      <mat-icon class='home-icon' svgIcon="home"></mat-icon>
    </div>
    <nav class="breadcrumb">
      <ng-container *ngFor="let breadcrumb of breadcrumbs; let last = last">
        <ng-container *ngIf="!last">
          <a [routerLink]="['/PathwayBrowser', breadcrumb.stId]"> > {{ breadcrumb.displayName }}</a>
        </ng-container>
        <ng-container *ngIf="last">
          > {{ breadcrumb.displayName }}
        </ng-container>
      </ng-container>
    </nav>
  </div>

  <div id="events-container">
    <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" [trackBy]="trackById" class="example-tree">
      <!-- This is the tree node template for leaf nodes -->
      <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle class="leaf-node" [ngClass]="{'has-sibling': hasLeafSibling(node)}">
        <!-- use a disabled button to provide padding for table leaf -->
        <!--    <button mat-icon-button disabled class="button-size"></button>-->
        <div class="left">
          <button mat-button (click)="onEventSelect(node)"
                  [ngClass]="{'highlight': node.isSelected, 'hovered': node.isHovered}" class="button">
            <mat-icon class='custom-icon'
                      [matTooltip]="node.schemaClass === 'Reaction' ? 'Reaction' : 'Black Box Event'"
                      [svgIcon]="node.schemaClass === 'Reaction' ? 'reaction' : 'transition'"></mat-icon>
            <div class="name-container">
              <div class="font name" #displayNameDiv
                   (mouseover)="onNameHover($event ,node)"
                   (mouseleave)="onNameHoverLeave($event, node)"
                   (wheel)="onScroll($event, node)">
                {{ node.displayName }}
              </div>
            </div>
          </button>
        </div>

        <div class="right">
          <div class="tag-container">
            <div class="tag" *ngIf="node.releaseStatus === 'UPDATED'" (mouseover)="onTagHover(node)"
                 (mouseleave)="onTagHoverLeave(node)">
              <span class='initial'>U</span>
              <span class="body">PDATED</span>
            </div>
            <div class="tag" *ngIf="node.releaseStatus === 'NEW'" (mouseover)="onTagHover(node)"
                 (mouseleave)="onTagHoverLeave(node)">
              <span class='initial'>N</span>
              <span class="body">EW</span>
            </div>

            <div class="tag" *ngIf="node.isInDisease" [class.disease]="node.isInDisease" (mouseover)="onTagHover(node)"
                 (mouseleave)="onTagHoverLeave(node)">
              <span class='initial'>D</span>
              <span class="body">ISEASE</span>
            </div>

            <div class="tag" *ngIf="node.isInferred" (mouseover)="onTagHover(node)"
                 (mouseleave)="onTagHoverLeave(node)">
              <span class='initial'>I</span>
              <span class="body">NFERRED</span>
            </div>

          </div>
        </div>
      </mat-tree-node>

      <!-- This is the tree node template for expandable nodes -->
      <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
          <div class="left">
            <button #treeControlButton mat-icon-button matTreeNodeToggle class="button-size no-hover-effect"
                    [attr.aria-label]="'Toggle ' + node.name" (click)="loadChildEvents(node)">
              <mat-icon class="mat-icon-rtl-mirror"
                        [svgIcon]="treeControl.isExpanded(node) ? 'arrow-down' : 'arrow-right'"></mat-icon>
            </button>

            <button mat-button (click)="onEventSelect(node)" class="button"
                    [ngClass]="{'highlight': node.isSelected, 'hovered': node.isHovered}">
              <mat-icon #eventIcon class='custom-icon'
                        [matTooltip]="node.hasEHLD? 'Pathway with an enhanced diagram ' : 'Pathway'"
                        [svgIcon]="node.hasEHLD  ? 'pathway-ehld' : 'pathway'"></mat-icon>
              <div class="name-container">
                <div class="font name" (mouseover)="onNameHover($event, node)"
                     (mouseleave)="onNameHoverLeave($event, node)"
                     (wheel)="onScroll($event, node)">
                  {{ node.displayName }}
                </div>
              </div>
            </button>
          </div>

          <div class="right">
            <div class="tag-container">
              <div class="tag" *ngIf="node.releaseStatus === 'UPDATED'" (mouseover)="onTagHover(node)"
                   (mouseleave)="onTagHoverLeave(node)">
                <span class='initial'>U</span>
                <span class="body">PDATED</span>
              </div>
              <div class="tag" *ngIf="node.releaseStatus === 'NEW'" (mouseover)="onTagHover(node)"
                   (mouseleave)="onTagHoverLeave(node)">
                <span class='initial'>N</span>
                <span class="body">EW</span>
              </div>

              <div class="tag" *ngIf="node.isInDisease" [class.disease]="node.isInDisease"
                   (mouseover)="onTagHover(node)" (mouseleave)="onTagHoverLeave(node)">
                <span class='initial'>D</span>
                <span class="body">ISEASE</span>
              </div>

              <div class="tag" *ngIf="node.isInferred" (mouseover)="onTagHover(node)"
                   (mouseleave)="onTagHoverLeave(node)">
                <span class='initial'>I</span>
                <span class="body">NFERRED</span>
              </div>

              <div class="tag subpathway" *ngIf="!node.hasDiagram" (mouseover)="onTagHover(node)"
                   (mouseleave)="onTagHoverLeave(node)">
                <span class='initial'>S</span>
                <span class="body">UBPATHWAY</span>
              </div>

            </div>
          </div>
        </div>
        <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
        <ul>
          <div [class.example-tree-invisible]="!treeControl.isExpanded(node)" role="group" class="group">
            <ng-container matTreeNodeOutlet></ng-container>
          </div>
        </ul>
      </mat-nested-tree-node>
    </mat-tree>
  </div>
</div>
